# Cairo University Faculty of Engineering
## Machine Learning
### Assignment 7
#### Name: Yousr Ashraf Hejy

## Imports

In [150]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

## ---------------------------------------------------- Functions -------------------------------------------------------

#### Take rating and movie data frames to return the combined dataset according to the shape required in the task (movie ratings for the first 200 users only)

In [151]:
def prepare_data(df1, df2, rows_num, drop_cols):
    # Hands on the first 200 users
    userID = list(range(1, rows_num + 1))
    # Filter the rating df according to the first 200 users
    df1_sample = df1[df1['userId'].isin(userID)]
    # Employ the first 200 films within your analysis
    df2_sample = df2[ :rows_num]
    # Merge the movies dataframe with the filtered ratings to create movie ratings for the first 200 users
    df_combined = pd.merge(df1_sample, df2_sample, on='movieId')
    # dropping the unnesessary columns
    df_combined = df_combined.drop(drop_cols, axis=1)
    return df_combined

#### Takes the combined data frame as input to create the pivot table

In [152]:
def cf_table(df, index_val, column_val, values_vals):
    # Create a pivot table from the new dataframe, with user IDs as rows and movie IDs as columns, and the movie ratings as values
    pivot_table = pd.pivot_table(data=df, index= index_val ,columns= column_val, values=values_vals)
    # handle the missing values with filling with 0
    # we could also fill with the mean value in that case
    pivot_table = pivot_table.fillna(0)
    return pivot_table

#### Takes the pivot table and return the similarity scores data frame between movies

In [153]:
def similarity_matrix(pivot_table):
    # Calculate Cousine similarity matrix
    similarity_matrix = cosine_similarity(pt)
    # Create a similarity movie score dataframe
    similarity_matrix_df = pd.DataFrame(similarity_matrix, columns=pivot_table.index, index=pivot_table.index)
    return similarity_matrix_df

### Item-based CF System
#### Takes the movie name and no. of recommendation desired to get the recommended movies based on similarity to the choosen movie

In [154]:
def recommender_system_item(movie_name, num_of_recommendation, similarity_matrix_df):
    # find the similar scores of movies to the choosen movie then choose the highest first 10 closest
    similar_movies = similarity_matrix_df[movie_name].sort_values(ascending=False)[1 : num_of_recommendation+1]
    similar_movies = pd.DataFrame(similar_movies)
    print(f"The similar movie for {movie_name}:" )
    # print the names of this movies
    for i in similar_movies.index:
        print(i)
    return similar_movies

### User-based CF System
#### Takes the userID and no. of recommendation desired to get the movie recommendations

In [155]:
def recommender_system_user(userID, number_of_recommendation, movies_users_rating, number_of_similar_users = 6):
    counter_of_recommendations = 0
    # save the ids of similar users to our user
    indices = data_matrix_user.loc[userID].nlargest(number_of_similar_users).index
    
    print(f"The recommended movies for to userID of {userID}:")
    # loop on similar users and print the name of corresponding movies
    for idx, num in enumerate(indices):
        # save all the movies that each user watched with high ratings
        user_movies_high_rating = movies_users_rating.loc[indices[idx]].nlargest(number_of_recommendation).index
        # loop over those movies to check if our user have watched it or not
        # if he haven't watched the movie -> recommend it to the user
        for idx, num in enumerate(user_movies_high_rating):
            # check if the user have watched it or not by checking if he rated or not
            if (movies_users_rating[user_movies_high_rating[idx]].loc[userID] == 0) & (counter_of_recommendations < number_of_recommendation):
                # if no rating exsists -> print it
                print(user_movies_high_rating[idx])
                counter_of_recommendations += 1

## ---------------------------------------------------- Steps -------------------------------------------------------

## Load the data

In [156]:
mdf = pd.read_csv("C:/Users/Lenovo/Documents/GitHub/Machine-learning-Tasks/Untitled Folder/ContentBasedRecommenderSystem/movies.csv")
rdf = pd.read_csv("C:/Users/Lenovo/Documents/GitHub/Machine-learning-Tasks/Untitled Folder/ContentBasedRecommenderSystem/ratings.csv")

mdf.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [157]:
rdf.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [158]:
movies_200.shape

(200, 3)

## Create the similarity matrix and recommendation system

In [159]:
df_combined = prepare_data(rdf, mdf, 200, ['timestamp', 'genres'])
df_combined.head(2)

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)

In [160]:
pivot_table = cf_table(df_combined, 'title', 'userId', 'rating')
print(pivot_table.shape)
pivot_table.head(2)

(176, 180)

userId,1,3,4,5,6,7,8,9,11,12,...,191,192,193,194,195,196,197,198,199,200
title,,,,,,,,,,,,,,,,,,,,,
Ace Ventura: When Nature Calls (1995),0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
"Amazing Panda Adventure, The (1995)",0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [161]:
similarity_bet_movies_df = similarity_matrix(pivot_table)
similarity_bet_movies_df.head()
similarity_bet_movies_df.head(2)

title,Ace Ventura: When Nature Calls (1995),"Amazing Panda Adventure, The (1995)","American President, The (1995)",Angels and Insects (1995),Anne Frank Remembered (1995),Antonia's Line (Antonia) (1995),Apollo 13 (1995),Assassins (1995),"Awfully Big Adventure, An (1995)",Babe (1995),...,Unstrung Heroes (1995),Up Close and Personal (1996),"Usual Suspects, The (1995)",Vampire in Brooklyn (1995),Waiting to Exhale (1995),"Walk in the Clouds, A (1995)",Waterworld (1995),White Man's Burden (1995),White Squall (1996),Wild Bill (1995)
title,,,,,,,,,,,,,,,,,,,,,
Ace Ventura: When Nature Calls (1995),1.000000,0.166578,0.337001,0.0,0.0,0.080112,0.388591,0.104858,0.0,0.342358,...,0.166578,0.092468,0.305973,0.214109,0.104069,0.282678,0.392326,0.138758,0.116963,0.111007
"Amazing Panda Adventure, The (1995)",0.166578,1.000000,0.235012,0.0,0.0,0.297044,0.232556,0.155520,0.0,0.298277,...,0.705882,0.243809,0.063435,0.423405,0.342997,0.271031,0.281099,0.685994,0.513994,0.857493

## Find the similar Movies
### 1. Movie ID: 1, Title “Toy Story (1995)”

In [162]:
WaitingToExhale_similar_movies = recommender_system_item("Toy Story (1995)", 10, similarity_bet_movies_df)

The similar movie for Toy Story (1995):
Braveheart (1995)
Apollo 13 (1995)
Usual Suspects, The (1995)
Happy Gilmore (1996)
Die Hard: With a Vengeance (1995)
Seven (a.k.a. Se7en) (1995)
Babe (1995)
Waterworld (1995)
Batman Forever (1995)
Taxi Driver (1976)

### 2. Movie ID: 4, Title: “Waiting to Exhale (1995)”

In [163]:
WaitingToExhale_similar_movies = recommender_system_item("Waiting to Exhale (1995)", 10, similarity_bet_movies_df)

The similar movie for Waiting to Exhale (1995):
Before and After (1996)
Mighty Morphin Power Rangers: The Movie (1995)
Three Wishes (1995)
Georgia (1995)
Mad Love (1995)
Before the Rain (Pred dozhdot) (1994)
Reckless (1995)
Cure, The (1995)
White Man's Burden (1995)
Now and Then (1995)

## Recommend 3 films to userID 200

#### Create a pivot table for userID recommendation System

In [164]:
movies_pivot_table_userID = cf_table(df_combined, 'userId', 'title', 'rating')

In [165]:
recommender_system_user(userID=200,number_of_recommendation=3, movies_users_rating = movies_pivot_table_userID)

The recommended movies for to userID of 200:
First Knight (1995)
Usual Suspects, The (1995)
Pocahontas (1995)